<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Dashboard </title>
    </head>
    <body>
        <h1>
            Bienvenido de vuelta {{ session['nombre'] }} {{ session['apellido']}} al portal de usuarios
        </h1>
        <h2>
            Lista de usuarios
        </h2>
        <ul>
            {% for usuario in usuarios: %}
                <li>
                    {{ usuario.nombre }} {{ usuario.apellido }} 
                    <form method="POST" action="/usuario/remover/{{usuario.nombreusuario}}">
                        <button> 
                            Remover 
                        </button>
                    </form>
                    <form method="GET" action="/usuario/editar/{{usuario.nombreusuario}}">
                        <button> 
                            Editar 
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <form action="/departamentos" method="GET">
            <button type="submit">
                Ir a sección de departamentos
            </button>
        </form>
        <form action="/logout" method="GET">
            <button type="submit">
                Logout
            </button>
        </form>
    </body>
</html>